:root {
    --purple: #790fff;
    --grey: #979aa6;
    --grey-background: #222c4f;
    --white: #ffffff;
    --background: #070d23;
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Hammersmith One', sans-serif;
    font-weight: 400;
}

html {
    background-color: var(--background);
}

#movie-app-title {
    font-size: 2.4rem;

    color: var(--purple);
}

#movie-app-title abbr {
    color: var(--grey);
}

header {
    display: flex;
    justify-content: center;

    padding: 40px 0;

    width: 100%;
    height: auto;
}

main {
    width: 90%;
    height: auto;

    margin: 0 auto;
}

#suggested-cards {
    width: 100%;
    height: auto;

    margin-bottom: 20px;
}

h2 {
    margin-left: 20px;
    font-size: 1.2rem;

    color: var(--white);
}

#carousel {
    display: flex;
    justify-content: space-between;

    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

#carousel img {
    margin: 5px;

    border-radius: 20px;
}

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--grey-background);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

#common-genres {
    display: flex;
    justify-content: space-evenly;

    width: 100%;
    height: auto;

    margin: 0 auto;
    margin-bottom: 20px;
}

#common-genres button {
    width: 15%;
    height: auto;

    padding: 5px;

    border: none;
    border-radius: 5px;

    color: var(--grey);
    background-color: var(--grey-background);
}

#popular-cards {
    width: 100%;
    height: auto;
}

#popular-title {
    display: flex;
    justify-content: space-between;
}

#popular-title h3 {
    font-size: 1rem;

    color: var(--purple);
}

#popular-title button {
    width: 20px;
    height: 20px;

    font-size: 1rem;

    border: none;
    border-radius: 2px;

    color: var(--white);
    background-color: var(--purple);
}

#popular-movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    height: auto;

    margin-top: 20px;
}

#popular-movies img {
    margin: 10px;

    border-radius: 20px;
}

footer {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
    height: auto;

    margin-top: 20px;
    padding: 20px 10%;

    color: var(--white);
    background-color: var(--grey-background);
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin: 20px 0;
}

footer p {
    justify-self: center;

    grid-column: 1/3;
}